@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  width: 500px;
  height: 500px;
  overflow-x: hidden;
}

/* styles for scrollbar */
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #4a4a4a;
  border-radius: 100%; /* Rounded corners */
}
